
<body class="body_contacto">
    <h1 class="contacto_titulo">Hola! Contáctame</h1>
    <hr>
    <h2 class="subtitulo_contacto">Puedo bajar tus ideas a algo concreto</h2>
    <h3 class="subtitulo_contacto2">y juntos las haremos realidad</h3>

    <div class="container w50 mensaje">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ingresa tu email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe tu mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</body>