<body class="fondo-home">
    <div>
        <h1 class="titulo">Mariana Lioi Pérez</h1>
        <p class="sub-cargo">Diseñadora Gráfica UX/UI</p>
        </div>

    <div class="nubes">
        <%= image_tag 'nubes.png', class:"margen-nube" %> 
    </div>
</body>