
<body class= "pagina-proyecto">
    <div class= "container text-center proyecto">
        <h1>Conoce mis proyectos</h1>
    </div>
    

    <section> <!-- tarjetas de proyecto  -->
        
        <div class="container text-center">
            <div class="row align-items-center">

                <div class="col">
                    <div class="card" style="width: 18rem;">
                    <%= image_tag 'ricomida.png' %>
                                <div class="card-body">
                                    <h5 class="card-title">Desafio Ricomida</h5>
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quas quia quidem, molestiae quibusdam soluta asperiores facere vel fuga ea maxime, velit ipsam dolores. Molestias nostrum totam iure maxime animi?</p>
                                    <a href="#" class="btn btn-primary boton border-0">VER MÁS</a>
                                </div>
                    </div>  
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                            <%= image_tag 'iguana.png' %>
                                <div class="card-body">
                                    <h5 class="card-title">Desafio Iguana</h5> 
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quas quia quidem, molestiae quibusdam soluta asperiores facere vel fuga ea maxime, velit ipsam dolores. Molestias nostrum totam iure maxime animi?</p>
                                    <a href="#" class="btn btn-primary boton  border-0">VER MÁS</a>
                                </div>
                    </div>  
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                            <%= image_tag 'viajes.png' %>
                                <div class="card-body">
                                    <h5 class="card-title">Prueba Viajes</h5>
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quas quia quidem, molestiae quibusdam soluta asperiores facere vel fuga ea maxime, velit ipsam dolores. Molestias nostrum totam iure maxime animi?</p>
                                    <a href="#" class="btn btn-primary boton  border-0">VER MÁS</a>
                                </div>
                    </div>  
                </div>

            </div>
        </div>

    </section>
</body>


